<div>
  <div>
    <h1 class="customer__title">マイページ</h1>
    <a href="{{ routes.account_logout_url }}"> ログアウト </a>
  </div>

  <h2>注文履歴</h2>

  {% paginate customer.orders by 20 %}
    {%- if customer.orders.size > 0 -%}
      <table role="table" class="order-history">
        <thead role="rowgroup">
          <tr role="row">
            <th id="ColumnOrder" scope="col" role="columnheader">注文番号</th>
            <th id="ColumnDate" scope="col" role="columnheader">注文日</th>
            <th id="ColumnPayment" scope="col" role="columnheader">決済状況</th>
            <th id="ColumnFulfillment" scope="col" role="columnheader">配送状況</th>
            <th id="ColumnTotal" scope="col" role="columnheader">合計金額</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          {%- for order in customer.orders -%}
            <tr role="row">
              <td
                id="RowOrder"
                role="cell"
                headers="ColumnOrder"
                data-label="注文番号"
              >
                <a
                  href="{{ order.customer_url }}"
                >
                  {{ order.name }}
                </a>
              </td>
              <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                {{ order.created_at | time_tag: format: 'date' }}
              </td>
              <td
                headers="RowOrder ColumnPayment"
                role="cell"
                data-label="{{ 'customer.orders.payment_status' | t }}"
              >
                {{ order.financial_status_label }}
              </td>
              <td
                headers="RowOrder ColumnFulfillment"
                role="cell"
                data-label="配送状況"
              >
                {{ order.fulfillment_status_label }}
              </td>
              <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                {{ order.total_net_amount | money_with_currency }}
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    {%- else -%}
      <p>注文はありません</p>
    {%- endif -%}

    {%- if paginate.pages > 1 -%}
      {%- if paginate.parts.size > 0 -%}
        <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
          <ul role="list">
            {%- if paginate.previous -%}
              <li>
                <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}"> 前へ </a>
              </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
              <li>
                {%- if part.is_link -%}
                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                    {{- part.title -}}
                  </a>
                {%- else -%}
                  {%- if part.title == paginate.current_page -%}
                    <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                      {{- part.title -}}
                    </span>
                  {%- else -%}
                    <span>{{ part.title }}</span>
                  {%- endif -%}
                {%- endif -%}
              </li>
            {%- endfor -%}

            {%- if paginate.next -%}
              <li>
                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}"> 次へ </a>
              </li>
            {%- endif -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}
  {% endpaginate %}
</div>

<h2>お客様情報</h2>

{{ customer.default_address | format_address }}

<a href="{{ routes.account_addresses_url }}"> 登録されている住所を見る ({{ customer.addresses_count }}) </a>
