<section>
  <h2>{{ blog.title | escape }}</h2>
  {%- paginate blog.articles by 1 -%}
    <ul>
      {%- for article in blog.articles -%}
        <li>
          {%- if article and article != empty -%}
            <div>
              <div
                class=""
              >
                <div>
                  {%- if article.image -%}
                    <img
                      srcset="
                        {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                        {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ article.image.src | image_url }} {{ article.image.src.width }}w
                      "
                      src="{{ article.image.src | image_url: width: 533 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                      alt="{{ article.image.src.alt | escape }}"
                      {% unless lazy_load == false %}
                        loading="lazy"
                      {% endunless %}
                      width="{{ article.image.width }}"
                      height="{{ article.image.height }}"
                    >
                  {%- endif -%}
                  <div class="card__content">
                    <div>
                      <a href="{{ article.url }}" class="full-unstyled-link">
                        {{ article.title | truncate: 50 | escape }}
                      </a>
                      <div>
                        <span class="circle-divider">{{ article.published_at | time_tag: format: 'date' }}</span>
                        <span>{{ article.author }}</span>
                      </div>
                      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                        <p class="article-card__excerpt rte-width">
                          {%- if article.excerpt.size > 0 -%}
                            {{ article.excerpt | strip_html | truncatewords: 30 }}
                          {%- else -%}
                            {{ article.content | strip_html | truncatewords: 30 }}
                          {%- endif -%}
                        </p>
                        <div class="article-card__footer">
                          {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                            <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  {%- endpaginate -%}
</section>
